<div id="footer">
  <h5>Developer: <a href="mailto:u941591@oz.nthu.edu.tw">davidsu</a>, 
                 <a href="mailto:bruce3557@gmail.com">Bruce Kuo</a>, 
                 <a href="mailto:acmshaimo@gmail.com">ATH</a>, 
                 <a href="mailto:tiyano@gmail.com">Tiyano</a><br />
     Designed by <a href="http://www/free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.dubaiapartment.biz/villas/" title="Dubai Apartments offers quality furnished hotel apartments, villas, and furnished properties on short term rental basis" target="_blank">Dubai Villas</a></h5>

<iframe src="https://www.facebook.com/plugins/like.php?href=http://acm.cs.nthu.edu.tw"                                         
    scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
</div>
