<h3>FAQ</h3>
<div align="center">
<{if $is_admin }>
	<form method="post"name="frmLogin">
	<table class="table table-striped">
	  <tr>
		<th>QID</th>
		<td><input name="qid" type="text" size=4 maxlength=4></td>
			
		<th>Question</th>
		<td><textarea rows="15" cols="50" name="ques" style="width:75%;align:center;"></textarea></td>

		<th>Answer</th>
		<td><textarea rows="15" cols="50" name="ans" style="width:75%;align:center;"></textarea></td>
	  </tr>
	  <tr>
		<td><input type="submit" name="submit" value="Add Question" class="btn btn-primary"></td>
	  </tr>
	</table>
	
	</form>
<{/if}>
<table class="table table-striped">
  <tr>
    <th width="10%">ID</th>
    <th width="40%">都市傳說</th>
    <th width="40%">流言終結者</th>
    <th>&nbsp;</th>
  </tr>

  <{section name=id loop=$rs }>
    <tr>
      <td><{ $rs[id].qid }></td>
      <td><{ $rs[id].question }></td>
	  <td><{ $rs[id].answer }></td>
      <{if $is_admin }><td><a href=faq.php?del=<{ $rs[id].qid }>><b>Delete</b></a></td><{/if}>
    </tr>
  <{/section}>
</table>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
