<h2><a href="editor/npp.5.9.Installer.exe">Notepad++ 5.9 安裝版</a></h2>
<h2><a href="editor/npp.5.9/bin.zip">Notepad++ 5.9 免安裝版</a></h2>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
