<center><h3>Ranking List: &nbsp; <{ $pid }> - <{ $pname }></h3></center>
<table class="table table-striped" style="width: 80%; align=center;" align=center>
  <tr>
    <th>Rank</th>
    <th>User ID</th>
    <th>CPU</th>
    <th>Date</th>
  </tr>
  <{section name=id loop=$rs }>
    <tr>
      <td> <{ $rs[id].rank }></td>
      <td> <{ $rs[id].uid }></td>
      <td> <{ $rs[id].cpu }></td>
      <td> <{ $rs[id].date }></td>
    </tr>
  <{/section}>
</table>
<br><br><br><br><br>
<br><br><br><br><br>
